* {
  color: white;
  text-decoration: none;
}

button, input {
  border: 1px solid darkred;
  background-color: darkred;
  background-image: linear-gradient(black, darkred, black);
}

.App {
  background-color: black;
}


