* {
  color: white;
  font-family: 'Caveat', cursive;
  font-size: 25px;
  text-decoration: none;
}

button, input, textarea {
  border: 1px solid darkred;
  border-radius: 10px;
  background-color: darkred;
  background-image: linear-gradient(black, darkred, black);
  margin: 5px;
}

h1 {
  font-family: 'Princess Sofia', cursive;
  font-size: 40px;
}

a, .fade{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

a:hover {
color: orangered;
}

.fade:hover {
  color: orangered;
  }

.App {
  background-color: black;
}


