#bio-body {
  display: grid;
  grid-template-columns: auto-fit, minmax(350px, 1fr);
  grid-template-rows: 1fr 2fr 3fr;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 167px);
  padding: 0 auto;
  position: relative;
  text-align: center;
}

#bio-desc {
  grid-row: 3/4;
  padding: 0 5px;
}

#bio-pic {
  grid-row: 2/3;
  justify-self: center;
}
