#edit-body {
  display: grid;
  grid-template-columns: auto-fit, minmax(350px, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  max-width: 350px;
  margin: 0 auto;
  min-height: calc(100vh - 167px);
  padding: 0 auto;
  position: relative;
  text-align: center;
}

#edit-form {
  grid-row: 2/3;
  justify-self: center;
  padding: 0 25px 10px;
  min-width: 350px;
}

@media (max-width: 425px) {
  #edit-form {
    grid-row: 2/3;
    justify-self: center;
    padding: 0 25px 10px;
    max-width: 350px;
  }
}
