#register-body {
  display: grid;
  grid-template-columns: auto-fit, minmax(350px, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr;
  max-width: 350px;
  margin: 0 auto;
  min-height: calc(100vh - 167px);
  padding: 0 auto;
  position: relative;
  text-align: center;
}

#reg-form {
  grid-row: 2/3;
  justify-self: center;
  padding: 0 25px 10px;
  max-width: 350px;
}
